//- vim:ft=jade
extends ../skeleton
block title
  title #{book.title}
block breadcrumb
  li
    a(href='/book-club') Book club
  li Book
  li
    a #{book.isbn}
block css
  link(rel='stylesheet', href='/shortlist.css')
block content
  - title = book.title
  - author = book.author
  if book.upstream
    - title = book.upstream.title
    - author = book.upstream.authors.join(' & ')
  .grid-row
    .column-full
      h1.heading-xlarge.title #{title}
  .grid-row
    .column-two-thirds
      .grid-row
        .column-two-thirds
          if book.upstream
            p.lede
              span a #{book.upstream.printType.toLowerCase()}  by&nbsp;
              span.author #{author}
            if book.upstream.description
              for paragraph in book.upstream.description.split('\n')
                p #{paragraph}
          else
            p.lede
              span by 
              span.author #{author}
            p.notice
              i.icon.icon-important
              strong We have no information about this book.
          if book.difficult
            p.panel This book has been marked as long or difficult.
        .column-one-third.sidebar
          if book.upstream.imageLinks
            img(src=book.upstream.imageLinks.thumbnail)
          if book.upstream.previewLink
            p
              a(href=book.upstream.previewLink) Preview online
      .grid-row
        if book.readingList
          p.panel.font-medium.reading-list
            span On the reading list
            if typeof book.readingList === 'string'
              span &nbsp;(#{book.readingList})
          h2.heading-medium Reading status
          include reading-table.pug
          include reading-form.pug
        if book.approve
          h2.heading-medium Ballot results
          table
            thead
              tr
                th Voter
                th Approval
                th Already read
                th Owns copy
            - ballots = book.approve.concat(book.disapprove).sort()
            if ballots.indexOf(req.user) === -1
              tr
                td(colspan=4).center You must vote before you can see the ballots for this book.
            else
              for name in ballots
                tr
                  th
                    span #{name}
                    if name == book.longlistedBy
                      abbr(title="Longlister").green &nbsp;✎
                  if book.approve.indexOf(name) !== -1
                    td.green ☑  Yes
                  else
                    td.red No
                  if book.alreadyRead && book.alreadyRead.indexOf(name) !== -1
                    td Yes
                  else
                    td No
                  if book.haveCopy && book.haveCopy.indexOf(name) !== -1
                    td Yes
                  else
                    td No


    if book.upstream
      .column-one-third
        .grid-row
          table
            if book.isbn
              tr
                th
                  abbr(title="International Standard Book Number") ISBN
                td #{book.isbn}
            if book.upstream.publishedDate
              tr
                th Published date
                td #{book.upstream.publishedDate}
            if book.upstream.publisher
              tr
                th Publisher
                td #{book.upstream.publisher}
            if book.upstream.pageCount
              tr
                th Pages
                td #{book.upstream.pageCount}
            if book.upstream.categories
              tr(rowspan=book.upstream.categories.length)
              - j = 0
              for category in book.upstream.categories
                - j++
                if j !== 0
                  th Categories
                td #{category}
            if book.upstream.language
              tr
                th Language 
                if book.upstream.language === 'en'
                  td English
                else
                  td #{book.upstream.language}
            if book.upstream.maturityRating
              tr
                th Classification
                td #{book.upstream.maturityRating.replace('_', ' ').toLowerCase()}
            if book.upstream.oclc
              if book.upstream.oclc.dewey
                tr
                  th
                    abbr(title="Dewey Decimal Classification") Dewey Dec'l
                  td.callNumber #{book.upstream.oclc.dewey}
              if book.upstream.oclc.congress
                tr
                  th
                    abbr(title="Library of Congress Classification") LOCC
                  td.callNumber #{book.upstream.oclc.congress}
            if book.longlistedBy
              tr
                th Longlister
                td #{book.longlistedBy}
        .grid-row
          p
          p.font-xsmall  #{book.desc}
          p.font-xxsmall
            a(href='/book-club/book/' + book.isbn + '/edit')
              if book.desc
                span Edit note
              else
                span Add note
