//- Used for testing: [squeamish ossifrage]
extends ../skeleton
block title
  title Book club
block breadcrumb
  li
    a(href='/book-club') Book club
block content
  .grid-row
    .column-two-thirds
      h1.heading-xlarge Book club
      p.lede.
        We need to decide on a book to read.
        There are lots of books in the world, but only some are worth reading.
        We need to narrow them down.

      if state == 'LONGLIST'
        a(href='/book-club/long-list').button.button-start Contribute to the long list
        p

        p.
          The first step is to create a long list of books so we have something to work with.
          We can then work on narrowing them down.
        p.
          The <a href="/book-club/short-list">shortlisting process</a> will
          begin on Friday, in order for final book selection to be ready for the start of May 2017.
      else
        if state == 'SHORTLIST'
          p Voting is now open for the shortlist. Please note that votes are not anonymous.
          p.
            We are using the "approval" voting system. You can vote for any number of candidates.
            The candidates with the most "yes" votes wins.
          a(href='/book-club/short-list').button.button-start Vote on the long list
        else
          a(href='/book-club/reading-list').button.button-start View the reading list


    .column-one-third
      p.data
        .bold-xlarge #{longlist}
        .bold-xsmall longlisted books
      p.data
        .bold-xlarge #{longlistProblemCount}
        .bold-xsmall longlisted books with problems
      p.data
        .bold-xlarge #{participants.length}
        .bold-xsmall participants over #{networkCount} IRC networks
      p.data
        .bold-xlarge #{shortlistVotes}
        .bold-xsmall shortlist votes
  .grid-row
    .column-two-thirds
      h2.heading-small Other actions
      ul
        li.font-small
          if state.addToLonglist
            a(href='/book-club/long-list') Add books to the long list
          else
            a(href='/book-club/long-list') View the long list
        li.font-small
          if state.allowVoting
            a(href='/book-club/short-list') Vote on the short list
          else
            a(href='/book-club/short-list') View the short list
        li.font-small
          a(href='/book-club/reading-list') View the reading list
