extends ../skeleton
block title
  title #{__('longlist-add-title')}
block breadcrumb
  li
    a(href=__('/book-club')) Book club
  li
    a(href=__('/book-club/long-list')) #{__('longlist')}
  li #{__('longlist-add-title')}
block content
  .grid-row
    .column-two-thirds
      h1.heading-xlarge #{__('longlist-add-title')}
      form(method='POST')
        h2.heading-medium #{__('longlist-add-lede')}
        .form-group
          label.form-label(for='book-title') #{__('longlist-add-form-booktitle')}
          input.form-control#book-title(type='text',name='title',required)
        .form-group
          label.form-label(for='book-author') #{__('longlist-add-form-author')}
          input.form-control#book-author(type='text',name='author',required)
        .form-group
          label.form-label(for='book-isbn')
            span #{__('book-isbn')}
          input.form-control#book-isbn(type='number',name='isbn',maxlength="13",required)
        .form-group
          .multiple-choice
            input#difficult(name='difficult',type='checkbox')
            label(for='difficult') #{__('longlist-add-form-difficult')}

        .form-group
          input.button(type='submit',value=__('longlist-add-form-submit'))
  a.link-back(href=__('/book-club/long-list')) #{__('longlist-return')}

