table
  thead
    tr
      th Name
      th Status
      th Progress
      if book.status
        for person in Object.keys(book.status)
          tr
            td 
              a(href='/book-club/book/'+book.isbn+'/'+person) #{person}
            if book.status[person]
              - obj = book.status[person][book.status[person].length - 1]
              td(class='reading-'+obj.status)  #{obj.status}
              if obj.pages
                td #{obj.pages} / #{book.upstream.pageCount}
              else
                if obj.freeform
                  td 
                    em #{obj.freeform}
                else
                  td
            else
              td Awaiting confirmation
      else
        tr
          td(colspan="2").center Awaiting readers
