//- vim:ft=jade
extends ../skeleton
block title
  title Reading List
block breadcrumb
  li
    a(href='/book-club') Book club
  li
    a(href='/book-club/reading-list') Reading list
block css
    link(rel='stylesheet', href='/readinglist.css')
block content
  .grid-row
    .column-two-thirds
        h1.heading-xlarge Reading list
  - i = 0
  if books.length == 0
  for book in books
    - i++
    if book.upstream
      - title = book.upstream.title
      - author = book.upstream.authors.join(' & ')
    .grid-row.book-item
      .column-one-third.sidebar
        if book.upstream.imageLinks
          img(src=book.upstream.imageLinks.thumbnail)
        p
          a(href='https://www.amazon.co.uk/s/?url=search-alias%3Dstripbooks&field-keywords='+encodeURIComponent(book.isbn)).
            Search on Amazon
      .column-two-thirds
        h2.heading-medium
          a(href='/book-club/book/'+book.isbn) #{book.upstream.title}
        p.lede
          span a #{book.upstream.printType.toLowerCase()}  by 
          span.author #{author}
        table
          thead
            tr
              th Name
              th Status
          if book.status
            for person in Object.keys(book.status)
              tr
                th #{person}
                if book.status[person]
                  td #{book.status[person][book.status[person].length - 1].status}
                else
                  td Awaiting confirmation
          else
            tr
              td(colspan="2").center Awaiting readers
        include reading-form.pug
    if i !== books.length
      hr
  else
    p.lede  No books have yet been selected for the reading list. Check back later.
