if book.readingList
  details
    summary.summary.heading-small #{__('reading-update-header')}
    .panel.panel-border-narrow
       form(method='POST',action='/book-club/reading-list')
         input(type='hidden',name='isbn', value=book.isbn)
         fieldset(required)
           .multiple-choice
             input#choice1(type='radio',name='status',value='acknowledged',required)
             label(for='choice1').form-label #{__('reading-update-acknowledged', {title: book.title})}
           .multiple-choice
             input#choice2(type='radio',name='status',value='ordered')
             label(for='choice2').form-label #{__('reading-update-ordered', {title: book.title})}
           .multiple-choice
             input#choice3(type='radio',name='status',value='arrived')
             label(for='choice3').form-label #{__('reading-update-arrived', {title: book.title})}
           .multiple-choice(data-target='pageCount')
             input#choice4(type='radio',name='status',value='started')
             label(for='choice4').form-label #{__('reading-update-started', {title: book.title})}
           .panel.panel-border-narrow.js-hidden#pageCount
             label.form-label(for='pages') #{__('reading-update-uptopage', {title: book.title})}
              .grid-row
                .inline
                 input(style="width:25%",type='number', size='3', name='pages', placeholder=__('reading-update-page-number')).form-control
                 span &nbsp;#{__('or')}
                 input(type='text', width="100%" name='freeform', placeholder=__('reading-update-freeform')).form-control
           .multiple-choice
             input#choice5(type='radio',name='status',value='finished')
             label(for='choice5').form-label #{__('reading-update-finished', {title: book.title})}
           .multiple-choice
             input#choice6(type='radio',name='status',value='stalled')
             label(for='choice6').form-label #{__('reading-update-stalled', {title: book.title})}
           .multiple-choice
             input#choice7(type='radio',name='status',value='reject')
             label(for='choice7').form-label #{__('reading-update-reject', {title: book.title})}
         p
           input(type='submit',value=__('reading-update-submit')).button
