//- vim:ft=jade
extends ../skeleton
block title
  title #{__('reading-list')}
block breadcrumb
  li
    a(href=__('/book-club')) #{__('book-club')}
  li
    a(href=__('/book-club/reading-list')) #{__('reading-list')}
block css
    link(rel='stylesheet', href='/readinglist.css')
block content
  .grid-row
    .column-two-thirds
      h1.heading-xlarge #{__('reading-list')}
        p.lede #{__('reading-list-lede')}
  .grid-row
    .column-two-thirds.books
      for book in books
          div.book
            if book.upstream
              if book.upstream.imageLinks
                a(href='/book-club/book/'+book.isbn)
                  img(src=book.upstream.imageLinks.thumbnail.replace('http://','//'))
            p
              a(href='/book-club/book/'+book.isbn).title.font-medium #{book.title}
            p
              a(href='/book-club/book/'+book.isbn).author.font-small #{book.author}
            if typeof book.readingList === "string"
              p
                a(href='/book-club/book/'+book.isbn).author.font-xsmall #{book.readingList}
      else
        p #{__('reading-list-no-books')}
      p
        a.link-back(href=__('/book-club')) #{__('back')}
