extends skeleton
block title
  title #{__('error-500-heading')}
block content
  .error.error-panel.form-group-error
    h1.heading-xlarge #{__('error-500-heading')}
    p #{__('error-500-prose')}
    if err
      if err.stack
        details(open)
          summary
            span.summary #{__('error-500-stack-dropdown')}
          pre.code.stack= err.stack
      else
        details(open)
          pre.code= JSON.stringify(err, 4, null)
    else
      p #{__('error-500-stack-nostack')}
    a.link-back(href='/') #{__('error-500-back')}
