//- Used for testing: [squeamish ossifrage]
extends skeleton
block title
  title #{__('cs-title')}
block breadcrumb
  li= __('cs-title')
block content
  .grid-row
    .column-two-thirds
      h1.heading-xlarge #{__('cs-title')}
  .grid-row
    .column-two-thirds
      h2.heading-medium #{__('cs-bucket-header')}
      h3.heading-small #{__('cs-bucket-header-current')}
      ol.list.list-number
        - let i = 0
        each item in inventory.current
          - i++
          li
            span.bucket-item= item.item
            if item.nick
              span.text-secondary &nbsp;(#{item.nick})
        while i < 20
          - i++
          li.text-secondary.bucket-empty= __('cs-bucket-emptyslot')
      h3.heading-small #{__('cs-bucket-header-previous')}
      ol.list.list-number.truncateable
        each item in inventory.old
          li
            span.bucket-item= item.item
            if item.nick
              span.text-secondary &nbsp;(#{item.nick})
      h2.heading-medium #{__('cs-quotes-header')}
      each category in Object.keys(quotes)
        h3.heading-small= category
        each quote in quotes[category]
          li !{__('cs-quote-wrapper', {quote})}
    .column-one-third
      .data
        span.data-item.bold-xxlarge= ofn.toLocaleString('en-GB')
        span.data-item.bold-xsmall= __('cs-urlcount')
      .data
        span.data-item.bold-xxlarge= scrabble.length.toLocaleString('en-GB')
        span.data-item.bold-xsmall= __('cs-scrabble-count')
  .grid-row
    .column-full
      h2.heading-medium #{__('cs-scrabble-header')}
      ol.list.list-number.columns
        each word in scrabble
          li: span.code= word

