extends skeleton
block title
  title #{__('error')}
block content
  .form-group-error
    h1.heading-xlarge #{__('error-generic-header')}
    if err
      p.lede #{err}
    if msg
      p.lede #{msg}
    if !err && !msg
      p.lede #{__('error-unknown')}
