//- Used for testing: [squeamish ossifrage]
extends skeleton
block css
  link(rel="stylesheet",href="home.css")
block breadcrumbs
block content
  .hero
    .grid-row
      .column-two-thirds
        .fortune-outer
          h1.heading-xlarge #{__('welcome')}
          if fortune
            p.font-small.fortune #{String(fortune).replace(/--/g,'—')}
          else
            p.font-small.fortune #{__('home-defaultfortune')}
      .column-one-third.black-nav
        h2.heading-small #{__('homepage-nav-header')}
        ul.list.list-bullet.font-small
          li
            a(href='//gsi.zuzakistan.com') #{__('homepage-gsi-link')}
          li
            a(href=__('/book-club')) #{__('homepage-bookclub-link')}
          li
            a(href='//webm.website') #{__('homepage-webm-link')}
  .grid-row.main-body
    .column-one-third
      h3.heading-medium
        a(href=__('/book-club')) #{__('book-club')}
      ul.font-small
        li
          a(href=__('/book-club/long-list')) #{__('long-list-link')}
        li
          a(href=__('/book-club/short-list')) #{__('short-list-link')}
        li
          a(href=__('/book-club/reading-list')) #{__('reading-list-link')}
      h3.heading-medium #{__('homepage-governance-header')}
      ul.font-small
        li
          a(href='//github.com/zuzak/gov.zk') #{__('source-link')}
        li
          a(href='//github.com/zuzak/gov.zk/issues/new') #{__('issues-link')}
        li
          if req.user
            a(href=__('/log-out')) #{__('logout-long')}
          else
            a(href=__('/log-in')) #{__('login-long')}
    .column-two-thirds
        p.placeholder #{__('placeholder')}
