extends skeleton
block title
  title #{__('about-i18n-header')}
block breadcrumb
  li
    a(href=__('/about-this-website')) #{__('about-header')}
  li #{__('about-i18n-header')}
  li #{__('about-i18n-lang-'+code)}
block content
  h1.heading-xlarge #{__('about-i18n-header')}
  - urls = []
  h2.heading-medium #{__('about-i18n-header-strings')}
  table
    thead
      tr
        th #{__('about-i18n-key')}
        th #{__('about-i18n-table-language')}
        th #{__('about-i18n-lang-'+code)}
      for engstr, key in english
        if engstr.startsWith('/')
          - urls.push(key)
        else
          tr
            td(rowspan="2")
              span.code #{key}
            th #{__('about-i18n-lang-en')}
            td #{engstr}
          tr
            th #{__('about-i18n-lang-'+code)}
            if foreign[key]
              td.green #{foreign[key]}
            else
              td.red #{__('about-i18n-notranslation')}
      else
        td(colspan="3") #{__('about-i18n-nokeys')}
  h2.heading-medium #{__('about-i18n-header-routes')}
  table
    thead
      tr
        th #{__('about-i18n-lang-en')}
        th #{__('about-i18n-lang-'+code)}
      for url in urls
        tr
          td.code #{english[url]}
          if english[url] == foreign[url]
            td.code.red #{foreign[url]}
          else
            td.code.green #{foreign[url]}
      else
        tr
        td(colspan="2") #{__('about-i18n-noroutes')}
