extends skeleton
block title
  title #{__('login-header')}
block login
  //- hide login button
block js
  script(src="login.js")
block breadcrumb
  li
    a(href='/log-in') #{__('log-in')}
block content
  .grid-row
    .column-two-thirds
      h1.heading-large #{__('login-header')}
      p #{__('login-lede')}
      p #{__('login-instruction')}
      for nick in nicks
        p.font-medium.panel#js-prompt
          span /msg #{nick} #{__('irc-verify')}
          span &nbsp;
          span#js-slug #{key}
      div#js-loginPrompt
        #{__('login-button-preamble')}
        form(method='POST')#js-form
          input(type='hidden', value=key, name='key')
          input(type='hidden', value=req.query.returnTo, name='returnTo')
          input.button#js-proceed(type='submit', value=__('login-button'))
      hr
      details
        summary
          span.summary #{__('login-whatisirc')}
        .panel.panel-border-narrow
          p #{__('login-whatisirc-answer')}
